/* END Style for about page

font-family: 'Merriweather', serif;
font-family: 'Poppins', sans-serif;
*/
$poppins: 'Poppins', sans-serif;
$merri: 'Merriweather', serif;
body {
	color: white;
	background-color: #111111;
}

@media screen and (max-width: 767px){
	.navbar-nav{
		padding: 20px 0px;
		border-bottom: 1px solid #fff;
	}
	.nav-item{
		padding: 15px 0px;
	}
}

.navbar-toggler{
	background-color: #7f8c8d !important;
}


/* Style for HOME page */
.logotype-box{
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
}

.home__logotype-container{
	padding: 40px 0px;
}

.poppins{
	font-family: Poppins;
}

.padding-40{
	padding: 40px 0px;
}

.no-padding{
	padding-left: 0px;
	padding-right: 0px;
}

.margin-top-40{
	margin-top: 40px;
}


.no-margin{
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.pricing__img{
	padding: 0px !important;
	position: relative;
	img{
		opacity: 0.5;
		width: 100%;
	}
	&--even{
		@extend .pricing__img;
		img{
			opacity: 0.3;
		}
	}
}

.pricing__info{
	position: absolute;
	top: 0px;
	padding: 40px;
	width: 100%;
	h4{
		font-family: $merri;
	}
	.title-decoration{
		width: 160px;
		height: 20px;
		background-color: #5328fe;
		margin-top: -20px;
		&--short{
			@extend .title-decoration;
			width: 85px;
		}
	}
	p{
		margin-top: 40px;
		font-family: $poppins;
		font-size: 13px;
		font-weight: 300;
		letter-spacing: 0.96px;
		line-height: 1.6;
		span{
			display: block;
			color: #929292;
		}
	}
	.price{
		font-size: 27px;
		font-family: $merri;
		line-height: 2;
		&--small{
			@extend .price;
			font-size: 22px;
			line-height: 2.5;

		}
	}
	.explore{
		width: 100%;
		font-size: 13px;
		font-family: $poppins;
		text-transform: uppercase;
		font-weight: 500;
		line-height: 4.5;
		text-align: right;
		position: relative;
		&:before{
			content: "";
			width: calc(100% - 60px);
			height: 1px;
			background-color: white;
			position: absolute;
			left: 0px;
			top: 28px;
		}
	}
}

/* END Style for HOME page */



/* Style for ABOUT page */

.about-container{
	width: 100%;
	min-height: 300px;
}

.about-header {
	text-align: center;
	padding: 100px 0px;
	img{
		width: 50px;
	}
	h3 {
		padding: 30px;
		font-family: 'Merriweather', serif;
		font-size: 32px;
		font-weight: 300;
		font-style: italic;
		line-height: 60px;
		letter-spacing: 2.88px;
		width: 600px;
		margin: 0 auto;
	}
}

.vertical-line{
	width: 1px;
	height: 140px;
	background-color: #ffffff;
	margin: 0 auto;
}

.about-photos-container{
	padding: 40px;
}

.single-history{
	padding-bottom: 120px;
}

/* About Photos */

.about-photos-container__photo{
	position: relative;
	padding-bottom: 65px;
	&--right{
		@extend .about-photos-container__photo;
		text-align: right;
	}
	.number{
		position: absolute;
		font-family: 'Poppins', sans-serif;
		font-size: 85px;
		font-weight: bold;
		margin-top: -60px;
		margin-left: -40px;
		z-index: 2;
		&--right{
			@extend .number;
			margin-top: -60px;
			right: -40px;
		}
	}
	.photo{
		position: relative;
		z-index: 1;
	}
	.photo-decoration{
		position: absolute;
		bottom: 0px;
		right: -45px;
		z-index: 0;
		&--oposite{
			@extend .photo-decoration;
			left: -45px;
		}
	}
}

.about-photos-container__caption{
	padding-left: 50px;
	padding-top: 20px;
	.date{
		font-family: $poppins;
		font-size: 14px;
		font-weight: 400;
		line-height: 60px;
		margin-bottom: 0px;
	}
	.photo_title{
		font-family: $merri;
		font-size: 46px;
		font-weight: 400;
		line-height: 68px;
	}
	.description-decoration{
		display: flex;
		margin-top: 20px;
		p{
			width: calc(100% - 80px);
			padding-left: 30px;
			padding-right: 30px;
			line-height: 1.9;
		}
	}
	.decoration{
		width: 80px;
		background-color: white;
		height: 1px;
		margin-top: 10px;
		margin-left: -55px;
	}
}
/* text content */

.about-text-container{
	padding: 40px 0px;;
	.text-item{
		h4{
			font-family: 'Merriweather';
			font-size: 25px;
			font-weight: 700;
			line-height: 48px;
			position: relative;
			padding-bottom: 10px;
			&:after{
				content: "";
				background-color: #fff;
				width: 40px;
				height: 1px;
				position: absolute;
				bottom: 0px;
				left: 0px;
			}
		}
	}
}

.text-caption{
	margin-top: 20px;
	label{
		color: #fff;
		font-family: Poppins;
		font-size: 14px;
		line-height: 1.4;
		font-weight: bold;
		margin-top: 10px;
	}
	p{
		color: #969696;
		font-family: Poppins;
		font-size: 14px;
	}
}



/* video */
.about-video{
	padding: 60px 0px;
	vertical-align: middle;
	position: relative;
	img{
		width: 100%;
		opacity: 0.6;
	}
	.video-play{
		position: absolute;
		top: 45%;
		border-radius: 100px;
    color: white;
    height: 100px;
    font-weight: bold;
    width: 100px;
		background-color: black;
		text-align: center;
		left: 45%;
		line-height: 100px;
		font-family: $poppins;
		font-size: 14px;
	}
}

/* video */
.about-newsletter{
	padding:  60px 0px  160px;
}

.newsletter__title{
	font-family: $merri;
	font-size: 40px;
	font-weight: 400;
	text-align: center;
	padding: 20px 0px;
}

.newsletter__form{
	width: 400px;
	margin: 0 auto;
	margin-top: 40px;
	.form-group{
		width: calc(100% - 80px);
	}
	input[type="email"]{
		background-color: #111111;
		border: 1px solid #fff;
		border-radius: 0px;
		width: 100%;
		height: 70px;
		color: #fff;
	}
	button{
		background-color: #111111;
		width: 80px;
		border: 1px solid #fff;
		border-radius: 0px;
		height: 70px;
	}
}

/* END Style for about page */

/* style for CONTACT  */
.contact-container{
	padding: 40px 0px;
}

.contact-header__title{
	font-family: $merri;
	font-size: 46px;
	font-weight: 700;
	line-height: 68px;
	padding: 20px 0px;
	&:after{
		content: "";
		width: 100px;
		height: 1px;
		background-color: white;
		position: absolute;
		bottom: -5px;
		left: -40px;
		@media screen and (max-width: 767px){
			left: 15px;
		}
	}
}

.contact-description{
	margin-top: 40px;
	font-family: $poppins;
	font-size: 14px;
	font-weight: 300;
	line-height: 32px;
}

.leave-a-message{
	margin-top: 100px;
}

.title-with-blue{
	position: relative;
	&:before{
		content: "";
		position: absolute;
		margin-left: -10px;
		margin-top: -10px;
		width: 100px;
		height: 25px;
		background-color: #5328fe;
		z-index: 0;
	}
	span{
		position: relative;
		z-index: 1;
		text-transform: uppercase;
		font-weight: bold;
		font-family: $merri;
	}
}

.contact-map{
	width: 100%;
	@media screen and (max-width: 767px){
		margin-top: 100px;
	}
}

/* END of style for CONTACT  */

.error404-container{
	width: 100%;
	height: 300px;
	background-color: red;
}
